<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Allows access to phone camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allows access to user photos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow location for uploads when in use </string>
</dict>
</plist>
